*{
    margin: 0%;
}

body {
    margin: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/Final/img/home\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid img{
    width: 2%;
    height: 2%;
}

nav{
    background: rgb(18,59,70);
    background: linear-gradient(90deg, rgba(18,59,70,1) 0%, rgba(150,150,150,1) 48%, rgba(5,55,64,1) 100%);
}

nav a{
    font-family: 'Hemi Head', sans-serif;
    border-style: solid;
    margin-left: 1%;
    word-spacing: 6%;
    background-color: burlywood;
}

ul li a{
    font-family: 'Microsport', sans-serif;
                                                
}

ul .dropdown-menu{
    background-color: gray;
}

.container img {
    display: block;
    margin: auto;
    margin-top: 10%;
    height: 30%;
    width: 30%;
    border-radius: 5%;
}

.container p{
    padding: 2%;
    color: white;
    border-style: solid;
    border-color: whitesmoke;
    margin-top: 7%;
    margin-right: 60%;
    margin-left: 1%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 7%;
    margin-left: 1%;
}

h5{
    font-family: 'Hemi Head', sans-serif;
    margin-top: 2%;
    margin-bottom: 5%;
}

label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
