*{
    margin: 0%;
}

body {
    margin: 0%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/Final/img/regist.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid img{
    width: 2%;
    height: 2%;
}

nav{
    background: rgb(18,59,70);
    background: linear-gradient(90deg, rgba(18,59,70,1) 0%, rgba(150,150,150,1) 48%, rgba(5,55,64,1) 100%);
}

nav a{
    font-family: 'Hemi Head', sans-serif;
    border-style: solid;
    margin-left: 1%;
    word-spacing: 6%;
    background-color: burlywood;
}

ul li a{
    font-family: 'Microsport', sans-serif;
}

ul .dropdown-menu{
    background-color: gray;
}

